%div{'data-attach-widget'=> "tm.Task", :class => item.finished ? 'h-finished' : ''}
  = form_for item, :url => project_task_path(item.project, item) do |f|
    .b-row
      .b-checkbox
        = f.check_box :finished, :'data-attach-event' => 'change: onFinish'
        = f.hidden_field :priority_id
      .b-edit
        .i-change-priority{:title => 'change priority', 'data-attach-event' => 'click: onChangePriority'}>
        .delimiter>
        .i-edit{:title => 'edit', 'data-attach-event' => 'click: onEdit', 'data-url'=> edit_project_task_path(item.project, item)}>
        .delimiter>
        .i-delete{:title => 'delete', 'data-attach-event' => 'click: onDelete', 'data-method' => "delete", 'data-url'=> project_task_path(item.project, item)}>
      .b-title{'data-attach-point' => 'title'}
        = item.title
