.b-project{'data-attach-widget'=> "tm.Project"}
  .b-project-title
    = item.title
    .i-list
    .b-edit
      .i-edit{:title => 'edit', 'data-attach-event' => 'click: onEdit', 'data-url'=> edit_project_path(item)}
      .delimiter
      .i-delete{:title => 'delete', 'data-attach-event' => 'click: onDelete'}
  .b-project-task-add
    .i-add
    %input.b-input{:placeholder => 'Start typing here to create a task...'}
    %button.b-add-btn Add task
  .b-project-task-list{'data-attach-point' => 'tasksContainer'}
    = render :partial => 'tasks/item', :collection => item.tasks
