- content_for :script do
  :javascript
    $(document).ready(function(){
      new tm.Manager();
    });

- content_for :footer do
  %button.b-project-add-btn#addProjectBtn{'data-url' => new_project_path}
    %i
    Add TODO list

= render :partial => 'projects/item', :collection => @projects
%br/ 
%br/
