- content_for :script do
  :javascript
    $(document).ready(function(){
      console.log('inited');
    });

= link_to 'Create project', new_project_path
%br/ 
%br/

= render :partial => 'project', :collection => @projects
